/* Общие стили для всей страницы */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Контейнер для центрирования элементов */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* высота контейнера равна высоте экрана */
    text-align: center; /* центрирование текста */
    padding: 20px;
}

/* Стили формы */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form input, form button {
    margin-bottom: 10px;
}

input[type="file"] {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Стили для блоков с результатами */
pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    word-wrap: break-word;
}

h2 {
    margin-top: 20px;
}

/* Стили для анимации спиннера */
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

/* Анимация вращения */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Стили для блока загрузки */
#loading {
    text-align: center;
    padding: 20px;
    min-height: 100px;
}









