/* Общие стили для всей страницы */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Контейнер для центрирования элементов */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* высота контейнера равна высоте экрана */
    text-align: center; /* центрирование текста */
    padding: 20px;
}

/* Стили формы */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="file"] {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Стили для блоков с результатами */
pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    word-wrap: break-word;
}

h2 {
    margin-top: 20px;
}








