<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Семантический лингвистический анализ текста</title>
</head>

<body>

    <div class="container">
        <h1>AI анализ учебных изданий</h1>

        <!-- Форма для анализа учебных изданий -->
        <form action="/" method="post" enctype="multipart/form-data">
            <label for="file-studybook">Выберите файл (PDF):</label>
            <input type="file" name="file" id="file-studybook" accept=".pdf" required>
            <button type="submit">Анализировать учебное издание</button>
        </form>

        <!-- Результаты анализа учебных изданий -->
        {% if style_result %}
            <h2>Стиль текста:</h2>
            <pre>{{ style_result }}</pre>
        {% endif %}
        
        {% if coherence_result %}
            <h2>Результаты анализа связности:</h2>
            <pre>{{ coherence_result }}</pre>
        {% endif %}

        {% if structure_result %}
            <h2>Результаты анализа структуры:</h2>
            <pre>{{ structure_result }}</pre>
        {% endif %}

        {% if grammar_result %}
            <h2>Результаты проверки грамматики:</h2>
            <pre>{{ grammar_result }}</pre>
        {% endif %}
    </div>

</body>
</html>

















